.task-card {
  display: grid;
  grid-template-columns: 1fr 200px;
  position: relative;
  background: $gray-500;
  border-radius: $radius;
  width: 100%;
  padding: 1rem 2rem;

  @include device(medium) {
    grid-template-columns: 1fr auto;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  @include device(small) {
    padding: 0.5rem 1rem;
  }

  .task-container {
    @include flex;
    gap: 2rem;

    @include device(small) {
      gap: 0.5rem;
    }

    .ant-checkbox-inner {
      background: $gray-200;
      border: none;
      border-radius: 50%;
      width: 1.25rem;
      height: 1.25rem;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background: $primary;
    }
  }

  .text-task {
    @include flex;
    flex-direction: column;
    align-items: flex-start;

    .title-container {
      @include flex;
      gap: 0.5rem;

      @include device(small) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }

      h3 {
        @include fontType(16);
        color: $gray-100;
        max-width: 60ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include device(large) {
          max-width: 20ch;
        }

        @include device(medium) {
          max-width: 10ch;
        }

        @include device(small) {
          max-width: 15ch;
        }
      }

      span {
        @include fontType(14);
        color: $gray-200;
      }
    }

    p {
      @include fontType(14);
      color: $gray-200;
      max-width: 80ch;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include device(large) {
        max-width: 40ch;
      }

      @include device(medium) {
        max-width: 20ch;
      }
    }

    &.finished {
      h3,
      p {
        text-decoration: line-through;
        color: $gray-200;
      }
    }
  }

  .actions-container {
    @include flex;
    gap: 2rem;
    justify-self: end;

    @media screen and (max-width: 500px) {
      justify-content: center;
      width: 100%;
    }

    span {
      @include fontType(14);
      color: $gray-100;
      background: $success;
      padding: 0.2rem 1rem;
      border-radius: $radius;
      width: 100px;
      text-align: center;

      &.priority {
        background: $warning;
      }

      &.urgent {
        background: $important;
      }

      @include device(medium) {
        width: 1rem;
        height: 1rem;
        padding: 0;
        border-radius: 50%;
      }

      @media screen and (max-width: 500px) {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
      }

      @media screen and (max-width: 300px) {
        display: none;
      }
    }

    .btn-container {
      @include flex;
      gap: 1rem;

      .btn-edit,
      .btn-delete {
        @include transition;
        background: transparent;
        border: none;
        cursor: pointer;
        color: $gray-200;
      }

      .btn-delete:hover {
        color: $danger;
      }

      .btn-edit:hover {
        color: $success;
      }
    }
  }
}
