$l-device: 1100px;
$m-device: 760px;
$s-device: 400px;

@mixin device($size) {
  @if $size == large {
    @media screen and (max-width: $l-device) {
      @content;
    }
  } @else if $size == medium {
    @media screen and (max-width: $m-device) {
      @content;
    }
  } @else if $size == small {
    @media screen and (max-width: $s-device) {
      @content;
    }
  }
}
