$radius: 8px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin transition {
  transition: 0.3s ease;
}

@mixin content {
  padding-top: 60px;
  padding-bottom: 60px;
}

body {
  background: $gray-600;
}

@mixin input {
  border: none;
  background: $gray-500;
  border-radius: $radius;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  border: 1px solid transparent;

  &::placeholder {
    font-weight: 500;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary;
  }
}

.input {
  @include input;
  @include fontType(14);
  color: $gray-100;

  &::placeholder {
    color: $gray-200;
  }
}
