.task-main {
  @include container;
  @include content;

  input {
    padding: 0.8rem;
  }

  .new-task-container {
    @include flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .select-task {
    @include flex;
    gap: 1rem;
    width: 100%;
  }
}
